.form__auto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    padding: 0 10px;
    z-index: 1;
    margin: auto;
    overflow-y: scroll;
    form {
        position: relative;
        top: 10%;
        padding: 10px 20px;
        background: #FFFFFF;
        border-radius: 5px;
        height: auto;
        width: 525px;
        min-width: 250px;
    }
    h2 {
        margin-top: 20px;
        font-family: Gilroy semibold;
        font-size: 28px;
        color: #B3B3B3;
    }
    hr {
        width: 100%;
        margin-top: 8px;
        border: 1px solid rgb(253, 253, 34);
    }
    article {
        max-width: 400px;
        margin-bottom: 32px;
        h3 {
            margin-top: 15px;
            font-family: Gilroy medium;
            font-size: 22px;
        }
        p {
            font-family: Gilroy regular;
            font-size: 16px;
            color: #6B6B6B;
        }
    }
    .form__input {
        font-family: Gilroy medium;
        font-size: 14px;
        background: #FFFFFF;
        border: 2px solid #D6D6D6;
        border-radius: 2px;
        width: 100%;
        height: 40px;
        padding: 10px 15px;
        margin-bottom: 16px;
        transition: all.2s ease;
        &::placeholder {
            color: #6B6B6B;
            opacity: 0.7;
        }
        &:hover {
            border: 2px solid #FFC41E;
        }
        &:focus {
            border: 2px solid #FFC41E;
        }
    }
    .obligatory-field {
        color: #B3B3B3;
        font-family: Gilroy regular;
        font-size: 14px;
    }
    .form__date {
        margin-top: 22px;
        h4 {
            font-family: Gilroy medium;
            font-size: 14px;
        }
        .form__date-time {
            display: flex;
            justify-content: space-between;
            .date-time {
                margin-top: 15px;
                height: 40px;
                border: 1px solid #D6D6D6;
                border-radius: 4px;
                padding: 0 10px;
            }
        }
        .input-date {
            width: 267px;
        }
        .input-time {
            width: 200px;
        }
    }
    .add__date-time {
        margin: 10px 0 30px 0;
        position: relative;
        padding-left: 30px;
        color: #6B6B6B;
        cursor: pointer;
        font-family: Gilroy medium;
        transition: all.2s ease;
        &:hover {
            color: #242424;
        }
        &:active {
            color: #6B6B6B;
        }
        &::before {
            content: "";
            position: absolute;
            background: url(../images/icon/formCross.svg) center no-repeat, linear-gradient(155.32deg, #FFD868 13.8%, #F3B401 90.56%);
            height: 20px;
            width: 20px;
            left: 0;
            border-radius: 50%;
        }
        &:hover::before {
            background: url(../images/icon/formCross.svg) center no-repeat, linear-gradient(155.32deg, #FFEAAF 13.8%, #F3B401 51.37%, #E2A700 87.76%);
        }
        &:active::before {
            background: url(../images/icon/formCross.svg) center no-repeat, linear-gradient(155.32deg, #E2A700 13.8%, #F3B401 51.37%, #FFEAAF 90.56%);
        }
    }
    .form__item {
        display: flex;
        user-select: none;
        margin-bottom: 16px;
    }
    label {
        display: flex;
        align-items: center;
        font-family: Gilroy medium;
        font-size: 14px;
        color: #6B6B6B;
        cursor: pointer;
    }
    .choose-help {
        margin: 16px 0;
        font-family: Gilroy medium;
        font-size: 14px;
        color: #242424;
    }
    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox]+label::before {
        content: '';
        display: inline-flex;
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #F9B800;
        box-shadow: 3px 3px 4px rgba(113, 113, 113, 0.05), inset 3px 3px 2px rgba(189, 188, 188, 0.24);
        border-radius: 2px;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 80% 80%;
    }
    input[type=checkbox]:checked+label::before {
        content: "";
        border-color: #F4B500;
        background-color: #F4B500;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.75 7.5L0 3.75L1.25 2.5L3.75 5L8.75 0L10 1.25L3.75 7.5Z' fill='white'/%3e%3c/svg%3e ");
    }
    input[type=checkbox]:checked+.label-item {
        color: #242424;
        font-weight: 600;
    }
    .textarea {
        width: 100%;
        height: 76px;
        font-family: Gilroy medium;
        background: #FFFFFF;
        border: 2px solid #D6D6D6;
        border-radius: 2px;
        resize: none;
        margin-top: 20px;
        padding: 10px;
        transition: all.2s ease;
        &:hover {
            border: 2px solid #FFC41E;
        }
        &:focus {
            border: 2px solid #FFC41E;
        }
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 30px 0 20px 0;
        .btn-submit {
            font-family: Gilroy medium;
            color: #242424;
            border: none;
            cursor: pointer;
            width: 224px;
            height: 35px;
            background: #FFE7A2;
            box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
            border-radius: 58px;
            font-size: 20px;
            opacity: 0.75;
            &:hover {
                background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
                box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
                color: #000000;
            }
            &:active {
                background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
                box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
                color: #242424;
            }
        }
        .btn-reset {
            width: 133px;
            height: 35px;
            border: none;
            background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
            box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
            border-radius: 58px;
            font-family: Gilroy medium;
            color: #242424;
            font-size: 20px;
            cursor: pointer;
            &:hover {
                background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 53.12%, #EFECEC 100%);
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 3px 3px 13px rgba(128, 128, 128, 0.25);
            }
            &:active {
                background: linear-gradient(180deg, #F1F1F1 1.56%, #FCFAFA 100%);
                box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25), inset 0px 4px 13px rgba(0, 0, 0, 0.06);
            }
        }
    }
}